# Existing Platewise services
GEMINI_API_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Dodo Payments (use test mode while developing)
DODO_PAYMENTS_API_KEY=yG95Ke_L8hsTi0f9.IMZgV5x350lh6LDqpDgiOJ7nT7Kf1do9ruW8HK9wWvZWTVZo
DODO_PAYMENTS_WEBHOOK_KEY=whsec_0AwSNphuvDj0q4/mMAJlW9+Birbn3eoL
DODO_PAYMENTS_PRODUCT_ID=pdt_0NnMHLFHSgrdKsIU95Lwa
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PAYMENTS_RETURN_URL=http://localhost:3000/checkout/success
